
<link rel="stylesheet" href="/css/comments.css">

    <li id="comment-<%= comment._id%>">
        <%if(((locals.user) && (comment.user.id == locals.user.id)) || ((locals.user) && (locals.user.id == post.user.id))){%>
            <div>
                <div id="delete-comment">
                    <a href="/comments/destroy/<%= comment.id%>" class="delete-comment-button">X</a>
                </div>
            <%}%>
                <div id="comment-content">
                    <h5><%= comment.user.name%></h5>
                    <%= comment.content%>
                    
                </div>
        
            </div>
    </li>
    
    
        
    

