<link rel="stylesheet" href="/css/posts.css">
<p>
    <ul id="post-list">
        
        <div><%= post.user.name%></div>  
        <div id="post-content">
            <li><%=post.content%></li>
            <%if(locals.user && locals.user.id == post.user.id){%>
            <span>
                <a href="/posts/destroy/<%= post._id%>">X</a>
            </span>
            <%}%>
        </div>   
    </ul>
</p>
<%- include('_comments.ejs') -%>
    
    
